/* Specificity Exercise */

nav .list-item > a {
    /* Specificity: 0-1-2) */
    color: var(--purple);
}

#main::first-letter {
    /* Specificity: 1-0-1 */
    color: var(--purple);
}

input[type] {
    /* Specificity: 0-1-1 */
    color: var(--purple);
}

section .main::first-line {
    /* Specificity: 0-1-2 */
    color: var(--purple);
}

nav ul.menu li#first a:not([class="visited"]) {
    /* Specificity: 1-2-3 */
    color: var(--purple);
}

div ol li ul li ol li ul li a {
    /* Specificity: 0-0-10 */
    color: var(--purple);
}
